* {
    background-color: rgb(45,45,45);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 0%;
    margin: 0%;
}

.header {
    background-color: #333;
    color: white;
    padding: 1.5rem;
    display: flex; 
    gap: 2rem;
    align-items: center;
    height: 2rem;
}

.header .image-holder {
    background-color: #444444;
    width: 3.3rem;
    height: 3.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
}

.home-icon {
    background-color: #33333300;
}

.highscore {
    background-color: #333;
    font-weight: bold;
}

.player-name {
    margin-right: auto;
    color: greenyellow;
    background-color: #333;
    font-weight: bold;
}

.sound-switch {
    background-color: #33333300;
}

img {
    width: 30px;
    height: 30px;
}


div.page-title {
    padding: 12%;
    font-size: 26px;
    text-align: center;
}